<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-col>
        <ion-title >TOTO Express</ion-title>
      </ion-col>
      <ion-col>
        <ion-input type="text" *ngIf="isSearching" placeholder="Recherche..." [(ngModel)]="data.searchValue"
          [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-col>
    </ion-row>


    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="notifications"></ion-icon>
      <ion-button [routerLink]="['/private/notifications']">
        <ion-badge color="dark" mode="ios">42</ion-badge>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-app>
    <ion-split-pane contentId="main-content">
      <ion-menu contentId="main-content">
        <ion-content class="background">
          <ion-list lines="none" id="list-top">
            <ion-item [routerLink]="['/private/profil']" >
              <ion-avatar slot="start">
                <img [src]="coursier.photo" />
              </ion-avatar>
              <ion-label color="warning">{{coursier.nom}} {{coursier.prenom}}</ion-label>
            </ion-item>
          </ion-list>

          <ion-list lines="none" id="list-middle">
            <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
              <ion-item [routerLink]="p.url" routerLinkActive="active" routerDirection="root" detail="false">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label color="primary">
                  {{p.title}}
                </ion-label>
              </ion-item>

            </ion-menu-toggle>
          </ion-list>

          <ion-list lines="none" id="list-bottom">
            <ion-menu-toggle autoHide="false">
              <ion-item button (click)="onLogout()" detail="false">
                <ion-icon slot="start" color="danger" name="log-out-outline"></ion-icon>
                <ion-label color="danger">
                  Deconnexion
                </ion-label>
              </ion-item>
            </ion-menu-toggle>

          </ion-list>
        </ion-content>
      </ion-menu>

      <ion-router-outlet id="main-content"></ion-router-outlet>

    </ion-split-pane>

  </ion-app>
</ion-content>